<mat-toolbar
     (window:scroll)="onWindowScroll($event)"
     [class.mat-primary]="this.colorHeader">
  <button mat-button>Rugal</button>
  <nav>
    <button mat-button href="#">About</button>
    <button mat-button>Category</button>
    <button mat-button>Tag</button>
    <button mat-button>Archive</button>
  </nav>
  <div id="header-burger">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu
      color="primary"
      #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>About</span>
      </button>
      <button mat-menu-item>
        <mat-icon>category</mat-icon>
        <span>Category</span>
      </button>
      <button mat-menu-item>
        <mat-icon>clear_all</mat-icon>
        <span>Tag</span>
      </button>
      <button mat-menu-item>
        <mat-icon>archive</mat-icon>
        <span>Archive</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

