$header-height: 64px;
$small-screen: 599px;

mat-toolbar {
  background: none;
  color: #ffffff;
  justify-content: space-between;
  transition: background-color 0.5s linear, height 0.5s linear;
  position: fixed;
  z-index: 10;

  @media only screen and (max-width: $small-screen) {
    height: $header-height;
  }
}

mat-toolbar > .mat-button {
  font-size: 24px;
}

nav {
  float: right;

  @media only screen and (max-width: $small-screen) {
    display: none;
  }
}

nav button, .mat-menu-item {
  text-transform: uppercase;
}

#header-burger {
  display: none;

  @media only screen and (max-width: $small-screen) {
    display: block;
  }
}

