.fadein {
  transition: opacity 2s ease-in;
}

mat-toolbar {
  background: none;
  color: #ffffff;
  justify-content: space-between;
  transition: background-color 0.5s linear;
  position: fixed;
  z-index: 10;
}

mat-toolbar > .mat-button {
  font-size: 20px;
}

nav {
  float: right;

  @media only screen and (max-width: 560px) {
    display: none;
  }
}

#header-burger {
  display: none;

  @media only screen and (max-width: 560px) {
    display: block;
  }
}

