$header-height: 64px;

div {
  background-color: #403838c4;
  height: 100%;
  position: absolute;
  top: 100%;
  width: 100%;
}

pre {
  background-color: #000000a6;
  box-sizing: border-box;
  font-size: 18px;
  margin: $header-height 25% 16px 25%;
}
